#heatmap {
	--background-color: #232629;
	--day-hover-outline: 1px;
	--day-hover-outline-color: rgba(0, 0, 0, 0.9);
	--zero-day-color: #636363;
	--color: rgb(240, 240, 240);
	background-color: var(--background-color);
	border-radius: 3px;
	padding: 10px 0;
	color: var(--color);
}

#heatmap .stats {
	display: flex;
	justify-content: space-evenly;
}

#heatmap .head-stats {
	font-size: 16px;
}

#heatmap .stats .stat-label {
	margin-right: 5px;
	font-weight: bold;
}

#heatmap .stats .stat-label::after {
	content: ':';
}

#heatmap .buttons {
	padding: 0px 5px;
	display: flex;
	justify-content: space-between;
	height: 0;
	transform: translateY(-5px);
}

#heatmap .buttons button {
	height: 30px;
	width: 30px;
	background-color: transparent !important;
	outline: none !important;
	box-shadow: none !important;
	color: var(--color);
	border: none;
}

#heatmap .title {
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
}

#heatmap .day.today,
#heatmap .hour.today {
	border-color: var(--color-now);
}

#heatmap .day.level-up {
	border-color: var(--color-level);
}

#heatmap .day.level-up.level-60 {
	border-color: gold;
}

#heatmap #popper {
	background-color: rgba(0,0,0, 0.9);
	width: fit-content;
	border-radius: 3px;
	display: none;
	position: absolute;
	left: 50vw;
	transform: translate(-50%, 0);
	z-index: 1000;
	padding: 10px;
}

#heatmap #popper.popped {
	display: block;
}

#heatmap #popper .header {
	text-align: center;
	padding-bottom: 0;
	position: relative;
}

#heatmap #popper .header .score {
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	font-size: 16px;
}

#heatmap #popper .date {
	font-weight: bold;
	font-size: 16px;
}

#heatmap #popper.reviews .count::after {
	content: ' reviews';
}

#heatmap #popper.forecast .count::after {
	content: ' upcoming reviews';
}

#heatmap #popper.lessons .count::after {
	content: ' lessons';
}

#heatmap #popper.forecast .summary,
#heatmap #popper.forecast .answers,
#heatmap #popper.forecast .score,
#heatmap #popper.lessons .srs,
#heatmap #popper.lessons .summary,
#heatmap #popper.lessons .answers,
#heatmap #popper.lessons .score {
	display: none;
}


#heatmap #popper .stats {
	display: flex;
	vertical-align: top;
}

#heatmap #popper .stats table {
	display: inline-block;
	padding: 0 10px;
}

#heatmap #popper .stats table th {
	font-weight: bold;
}

#heatmap #popper .stats table tr {
	display: flex;
	justify-content: space-between;
}

#heatmap #popper .stats > table > tr:first-child {
	justify-content: center;
}

#heatmap #popper .stats table.srs > tr:first-child th,
#heatmap #popper .stats table.srs > tr:nth-of-type(2) th,
#heatmap #popper .stats table.srs .hover-wrapper tr:first-of-type th,
#heatmap #popper .stats table.srs .hover-wrapper tr:nth-of-type(2) th {
	text-align: center;
	width: 100%;
}

#heatmap #popper .stats table.srs > tr:nth-of-type(2) th,
#heatmap #popper .stats table.srs .hover-wrapper tr:nth-of-type(2) th {
	font-weight: normal;
}

#heatmap #popper .stats {
	text-align: center;
}

#heatmap #popper .stats tr > :not(:last-child) {
	padding-right: 5px;
	box-sizing: initial;
}

#heatmap #popper .srs th {
	width: 28px;
	text-align: left;
}

#heatmap #popper .answers th {
	width: 50px;
	text-align: left;
}

#heatmap #popper .srs tr:first-of-type th,
#heatmap #popper .answers tr:first-child th {
	width: 100%;
	text-align: center;
}

#heatmap #popper .summary tr:last-child td::after,
#heatmap #popper .answers tr:last-child td::after {
	content: '%';
}

#heatmap #popper .srs .hover-wrapper tr :not(.hover-wrapper) {
	min-width: 30px;
}

#heatmap #popper .srs .hover-wrapper tr > th {
	min-width: 42px !important;
}

#heatmap #popper .levels .hover-wrapper th::before {
	content: 'Level ';
}

#heatmap #popper .levels .hover-wrapper th::after {
	content: ':';
}

#heatmap #popper .srs .hover-wrapper tr:first-child {
	font-weight: bold;
}

#heatmap #popper .stats > * > * > td {
	min-width: 25px;
	text-align: right;
}

#heatmap .years {
	margin: auto;
	display: flex;
	flex-direction: column-reverse;
}

#heatmap #popper .items {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
	max-width: 500px;
}

#heatmap #popper .item {
	display: inline-block;
	padding: 0 4px;
	margin: 1.5px;
	border-radius: 3px;
	position: relative;
	color: black !important;
}

#heatmap #popper .items .radical {
	background-color: #00aaff;
	order: 0;
}

#heatmap #popper .items .kanji {
	background-color: #ff00aa;
	order: 1;
}

#heatmap #popper .items .vocabulary {
	background-color: #9800e8;
	order: 2;
}

#heatmap #popper .item .hover-wrapper {
	padding: 7px;
}

#heatmap #popper .item .hover-wrapper .characters {
	font-size: 74px;
	line-height: 74px;
	padding: 5px;
	margin-right: 10px;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	color: black !important;
	color: var(--color) !important;
}

#heatmap #popper .item .hover-wrapper .info {
	display: inline-block;
	font-size: 14px;
	transform: translateY(-4px);
}

#heatmap #popper .item .hover-wrapper .info th {
	padding-right: 10px;
}

#heatmap #popper .item.vocabulary .hover-wrapper .characters,
#heatmap #popper .item.vocabulary .hover-wrapper .info {
	display: block;
	margin-right: 0;
}

#heatmap #popper .item.vocabulary .hover-wrapper .info {
	margin-top: 10px;
}

#heatmap #popper .items .characters {
	color: var(--color) !important;
}

#heatmap #popper .items .radical .hover-wrapper .characters {
	background-color: #00aaff;
}

#heatmap #popper .items .kanji .hover-wrapper .characters {
	background-color: #ff00aa;
}

#heatmap #popper .items .vocabulary .hover-wrapper .characters {
	background-color: #9800e8;
}

#heatmap .years[month-labels="top"] .year .month-label,
#heatmap .years[month-labels="none"] .year .month-label {
	display: none;
}

#heatmap .years[month-labels="top"]:not(.reverse).visible-future .year.future .month-label,
#heatmap .years[month-labels="top"]:not(.reverse):not(.visible-future) .year.current .month-label {
	display: block;
}

#heatmap .years[month-labels="top"].reverse .year:first-child .month-label,
#heatmap .years[month-labels="top"].reverse .year.hidden + .year .month-label {
	display: block;
}

#heatmap .years[month-labels="all"] .year-labels,
#heatmap .years[month-labels="top"].reverse .year:first-child .year-labels,
#heatmap .years[month-labels="top"].reverse .year.hidden + .year .year-labels,
#heatmap .years[month-labels="top"]:not(.reverse).visible-future .year.future .year-labels,
#heatmap .years[month-labels="top"]:not(.reverse):not(.visible-future) .year.current .year-labels {
	margin-top: 14px !important;
}

#heatmap .year .year-labels {
	margin-top: 0px;
}

#heatmap .year-labels {
	position: relative;
}

#heatmap .year-labels .toggle-year {
	position: absolute;
	color: var(--color);
	width: calc(100% - 20px);
	text-align: center;
}

#heatmap .year-labels .toggle-year.down {
	bottom: 3px;
}

#heatmap .year-labels .toggle-year.up {
	top: 2px;
}

#heatmap .year.hidden {
	display: none;
}

#heatmap .year:first-child .toggle-year.down,
#heatmap .year:first-child ~ .year:not(.hidden) .toggle-year {
	display: none;
}

#heatmap .years .year:last-child .toggle-year.up,
#heatmap .years.visible-future .year.current .toggle-year.up {
	display: none !important;
}

#heatmap .years.has-future:not(.visible-future) .year.current .toggle-year.up,
#heatmap .year.future .toggle-year.down,
#heatmap .year.hidden + .year .toggle-year {
	display: block !important;
}

#heatmap .years.reverse {
	display: flex;
	flex-direction: column;
}

#heatmap .years[day-labels="false"] .day-labels {
	display: none;
}

#heatmap .years.reverse .toggle-year.up {
	bottom: 3px;
	top: unset;
}

#heatmap .years.reverse .toggle-year.down {
	bottom: unset;
	top: 2px;
}

#heatmap .years.reverse .toggle-year,
#heatmap .years.reverse .toggle-year .hover-wrapper div {
	transform: rotate(180deg);
	z-index: 1;
}

#heatmap .years .toggle-year:hover {
	text-decoration: none;
	cursor: pointer;
}

#wkofs_heatmap3 .right {
	position: relative;
}

#wkofs_heatmap3 .right .color-label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translatex(-50%);
	display: table;
	width: auto;
	color: white !important;
	text-transform: uppercase;
	pointer-events: none;
	text-shadow: none;
}

#wkofs_heatmap3 .right .color-label.light-color {
	color: black !important;
}

#heatmap .view {
	display: flex;
	flex-direction: column;
}

#heatmap.reviews .view.lessons,
#heatmap:not(.reviews) .view.reviews {
	display: none !important;
}

#heatmap .zero_gap .day-label {
	line-height: var(--day-size);
	font-size: calc(var(--day-size) - 2px);
}

@media (max-width: 767px) {
	#heatmap .year-labels .toggle-year {
		font-size: 12px;
	}
}

@media (max-width: 700px) {
	#heatmap .year-labels .toggle-year {
		font-size: 10px;
	}
}

@media (max-width: 600px) {
	#heatmap .year-labels .toggle-year {
		font-size: 8px;
	}
	#heatmap .year-labels .toggle-year.up {
		top: -2px;
	}
	#heatmap .year-labels .toggle-year.down {
		bottom: -2px;
	}
}

@media (max-width: 500px) {
	#heatmap .year-labels .toggle-year {
		font-size: 6px;
	}
	#heatmap .year-labels .toggle-year.up {
		top: -5px;
	}
	#heatmap .year-labels .toggle-year.down {
		bottom: -5px;
	}
}

#heatmap3_tabs div[role="tabpanel"] .panel {
	margin-top: 8px;
}

#heatmap3_tabs div[role="tabpanel"] .panel .row {
	display: flex;
	justify-content: space-around;
}

#heatmap3_tabs div[role="tabpanel"] .panel .color {
	position: relative;
}

#heatmap3_tabs div[role="tabpanel"] .panel .delete button {
	height: 30px;
	line-height: 24px;
	font-size: 18px;
	background-color: transparent;
	border-color: transparent;
}

#heatmap3_general ~ div[role="tabpanel"] hr ~ .row,
#heatmap3_tabs #heatmap3_look .row {
	display: inline-block;
	width: 50%;
	margin-top: -10px;
	min-width: fit-content;
	padding-bottom: 5px;
}

#heatmap3_general ~ div[role="tabpanel"] hr ~ .row > div,
#heatmap3_tabs #heatmap3_look .row > div {
	width: auto;
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}

#heatmap3_general ~ div[role="tabpanel"] hr ~ .row > .right,
#heatmap3_tabs #heatmap3_look .row .right {
	float: right;
}

#heatmap3_tabs #heatmap3_forecast hr ~ .row:nth-child(5),
#heatmap3_tabs #heatmap3_look .row:nth-child(6),
#heatmap3_tabs #heatmap3_look .row:nth-child(n+10) {
	width: 100%;
}
#heatmap3_tabs #heatmap3_forecast hr ~ .row:nth-child(5) .right,
#heatmap3_tabs #heatmap3_look .row:nth-child(6) .right,
#heatmap3_tabs #heatmap3_look .row:nth-child(n+10) .right {
	width: 50%;
}

#heatmap #popper .items .radical-svg {
	width: 14px;
	filter: invert(1);
}

#heatmap #popper .items .hover-wrapper .radical-svg {
	width: 74px;
}

#heatmap .head-stats .stat .hover-wrapper.above {
	text-align: center;
}

#heatmap #popper .minimap {
	text-align: center;
	margin-bottom: 10px;
}

#heatmap #popper .minimap > span {
	margin-right: 10px;
	font-weight: bold;
}

#heatmap #popper .minimap > div {
	display: inline-grid;
}

#heatmap3_tabs .row:last-child {
	margin-bottom: 5px !important;
}

#heatmap3_tabs #heatmap3_look {
	padding-top: 12px;
}

#wkofs_heatmap3 #heatmap3_tabs hr {
	margin-bottom: 20px;
}

#heatmap #popper .levels tr[data-count="0"] .hover-wrapper {
	display: none;
}

/* jQuery UI CSS */
.ui-datepicker .ui-widget-header .ui-icon {
	background-image: url('https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png');
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: pointer;
	height: calc(100% - 3px);
	width: 34px;
}

.ui-datepicker * {
	box-shadow: none;
	text-align: center !important;
}
/* end jQuery UI CSS */
